.profile-container {
    position: relative;
}

.profile-name {
    font-size: 1.5rem;
    margin-top: 10px;
}

.edit-profile-button {
    margin-right: 10px;
}

.div1 {
    margin-bottom: 30px;
}

.div2 {
    margin-bottom: 10px;
}

.div3 {
    margin-top: 30px;
}

.link-decoration {
    text-decoration: none;
    color: red;
}

.give-space{
    padding: 5px;
}

.icon-container {
    position: relative;
    top: 0;
    left: 0;
}

.medium-input {
    width: 50%;
}

.small-input {
    width: 25%;
}

.text-center {
    text-align: center;
}

.custom-col-md-0 {
    flex: 0 0 auto;
    width: 22.5%;
}

.custom-col-md-1 {
    flex: 0 0 auto;
    width: 5.0%;
}

.vertical-center {
    margin-top:10px;
    text-align: center;
}

.cancel-save-button {
    width: 50%;
    text-align: right;
}

.header-col-1 {
    margin-left: 10px;
    margin-bottom: 10px;
}
.header-height {
    height: 55px;
}

